* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
:root {
  --red: #f05638;
  --white: #f7f8f9;
  --link-blue: #27b9c2;
  --purple: #8166b0;
  --yellow: #ffc80a;
  --dark-gray: #403737;
  --light-blue: #4bcfeb;
}
.continer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 100vh;
  width: 100vw;
}
.card-title {
  grid-row: 1/2;
  grid-column: 3/5;
  background-color: var(--white);
}
.sub-t {
  font-family: Montserrat, sans-serif;
  color: #9fa3a7;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
h1 {
  font-weight: 400;
}
.card-phone {
  grid-row: 1/2;
  grid-column: 1/3;
  display: flex;
  justify-content: space-around;
  gap: 20em;
  padding: 5% 4% 0% 4%;
  align-items: center;
}
.ph-txt {
  display: flex;
  flex-direction: column;
  width: 32%;
  height: 100vh;
  gap: 5%;
}
.tit-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  gap: 1em;
}
.tit-txt > h1 {
  font-size: 2.5rem;
}
.tit-txt > a {
  color: var(--link-blue);
}
.card-keyboard {
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: var(--red);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom:5%;

}
.k-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    color: var(--white);
}
.k-txt>p{
    color: var(--yellow);
    font-size: 1em;
}

.card-old-tv {
  grid-row: 2/3;
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.card-floppy {
  grid-row: 2/4;
  grid-column: 4/5;
  background-color: var(--purple);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;
}
.f-img{

}
.ti-f>div>button{
    background-color: #a485d8;
    padding: 9%;
}
.card-game {
  grid-row: 3/4;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
.g-img{
    display: flex;
    align-items: center;
}
.g-title{
    font-size: 1.5em;
}
.card-taplet {
  grid-row: 3/4;
  grid-column: 2/4;
  background-color: var(--link-blue);
}
.card-twitter {
  grid-row: 4/5;
  grid-column: 1/2;
  background-color: var(--light-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
}
.card-little {
  grid-row: 4/5;
  grid-column: 2/3;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.btn-g{
    background-color: #7bc424;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    color: #fff
    ;
}
.btn-f{
    background-color: var(--yellow);
    border-radius: 0.5em;
    padding: 0.5em 1em;
    color: var(--white);
}
.card-green-tv {
  grid-row: 4/5;
  grid-column: 3/5;
  background-color: var(--dark-gray);
  display: flex;
}
